In [1]:
import pandas as pd
import numpy as np
import re
import random

* Sr No:<br>
No Significant observations. Apart from renaming it to Sr_no.

* **Date dd/mm/yyyy:**
    
    1. `Rename the column to data.`
    2. `At SrNo 193 the date is in wrong format (5/072018)`
    3. `At SrNo 2572 the date is in wrong format (01/07/015)`
    4. `At SrNo 2607 the date is in wrong format (\\xc2\\xa010/7/2015)`
    5. `At SrNo 2776 the date is in wrong format (12/05.2015)`
    6. `At SrNo 2777 the date is in wrong format (12/05.2015)`
    7. `At SrNo 2832 the date is in wrong format (13/04.2015)`
    8. `At SrNo 3012 the date is in wrong format (15/01.2015)`
    9. `At SrNo 3030 the date is in wrong format (22/01//2015)`
<br>
<br>
* **Startup Name:**<br><br>
    Look for `ola`,`Oyo`,`Byju`,`Cred`,`cardekho`,`cartrade`,`starting with pepper,lenskart`
    1. Rename to startups
    2. Convert everything to lowercase
    3. Theres apostrophy in some StartupNames (SrNO 1)
    4. URL in SrNo (4,17,)
    5. Spelling error "BYJU\\'S" (Srno 68)
    6. Unknown name (What\\xe2\\x80\\x99s Up Life) (SrNo 240)
    7. AadharAPI.com at (SrNo 473)
    8. OyoRooms at (SrNo 116,1447,2477), OYO Rooms at (SrNo 587,601,907,2619,2920), Oyo at (SrNo 1761)  
      
    11. Autorox.co (SrNo 688)    
    13. Byju\\xe2\\x80\\x99s (SrNo 713,984,1357,1881)
    14. Creator\\xe2\\x80\\x99s Gurukul (SrNo 714)
    15.Gympik.com (SrNo 720)
    
    17. PeeSafe.in (SrNo 743)      
    20. Paytm marketplace (SrNo 939)
    21. the moms co is written as The Mons Co.(SrNo 970)
    22. SERV\\xe2\\x80\\x99D (SrNo 1154)
    23. BYJU\\xe2\\x80\\x99s (SrNo 1165)
    24. \\xc2\\xa0CloudCherry (srNo 1395)
    25. Let\xe2\x80\x99s Barter (SrNo 1399)
    26. Don\\xe2\\x80\\x99t Scratch Your Head (SrNo 1515)
    27. TransTutors / AskIITians as AskIITians (SrNo 1541)
    
    29. Alef\\nMobitech (SrNo 2014)
    30. PlanMy\\nMedicalTrip (SrNo 2019)
    31. Different 'Teabox' at (SrNo 453,1588,2090,2916)
    32. Zebi (yet to launch) already launched (SrNo 2094)
    33. POPxo.com to POPxo (SrNo 2216)
   
    35. Cashkaro.com to Cashkaro(SrNo 2235)
    36. EarlySalary.com to EarlySalary(SrNo 2270)
    37. Toppr.com to Toppr (SrNo 2379)
   
    39. Carl\\xe2\\x80\\x99s Jr (SrNo 2496)
    40. NearBuy (previously\\xc2\\xa0 groupon India) (SrNo 2505)
    41. \\xc2\\xa0News in shorts <br>
        \\xc2\\xa0Bluestone<br>
        \\xc2\\xa0Shopsity<br>
        \\xc2\\xa0Notesgen<br>
        \\xc2\\xa0Infinity Assurance<br>
        \\xc2\\xa0Footprints Education<br>
        \\xc2\\xa0Loylty Rewards<br>
        \\xc2\\xa0Ameyo<br>
        \\xc2\\xa0Mamagoto<br>
        \\xc2\\xa0Satvacart<br>
        2603,2604 2605 2606 2607 2608 2609 2610 2611 2612

    
    43. Zovi.com / Little App to Zovi (SrNo 2654)
    42. Healthians.com to Healthians (SrNo 2733)
    43. \\xc2\\xa0Nudgespot (SrNo 2795)
    
    45. 1mg (Healthkartplus) (2845,2845)
    46. Naaptol.com to Naaptol (2866)
    47. Crowdfire (formerly Justunfollow) (2881)
    48. Roposo.com with Roposo (2921)
    49. FirstCry.com (2819)
  
    51. Faaso\\xe2\\x80\\x99s (2955)
    52. #Fame to Fame (2993)

* **Industry Vertical** <br>
     <!-- **From Serial number 2109 to 2873 there is a shift(Subvertical info in IndustryVertical)** -->

    <!-- 1. Change name to Industry_vertical   -->
    <!-- 2. There are some entries as others (if statement in main code) -->
    <!-- 3. Hyperlocal\\xc2\\xa0 Grocery Delivery Service (2176)
    4. WiFi \xe2\x80\x93 first Cloud communication platform -->
    <!-- 5. Mobile Growth Hacking\\nPlatform (2221)
    6. Women Ethnic Wear\\xc2\\xa0 Online Marketplace (2239) -->  
   
    <!-- 9. Location based Nightlife recommendation\\xc2\\xa0 Platform (2365) -->
    <!-- 10. Luxury goods\\xc2\\xa0 Shopping Platform (2386)
    11. ECommerce Brands\\xe2\\x80\\x99 Full Service Agency (2395)
    12. Home Design & D\\xc3\\xa9cor platform (2410)
    13. Chain of Tea Caf\\xc3\\xa9\\xe2\\x80\\x99s (2420)
    14. App security\\xc2\\xa0 testing platform (2489)
    15. Home Design & D\\xc3\\xa9cor solutions (2509) -->
    <!-- 16. \\xc2\\xa0News Aggregator mobile app <br>
        \\xc2\\xa0Online Jewellery Store <br>
        \\xc2\\xa0Fashion Info Aggregator App <br>
        \\xc2\\xa0Online Study Notes Marketplace <br>
        \\xc2\\xa0Warranty Programs Service Administration<br>
        \\xc2\\xa0Pre-School Chain<br>
        \\xc2\\xa0Premium Loyalty Rewards Point Management<br>
        \\xc2\\xa0Contact Center Software Platform<br>
        \\xc2\\xa0Casual Dining restaurant Chain<br>
        \\xc2\\xa0Online Grocery Delivery<br> -->

    <!-- 2603 2604 2605 2606 2607 2608 2609 2610 2611 2612 -->
    <!-- 17. Online home d\\xc3\\xa9cor marketplace (2648)
    18. Online Home D\\xc3\\xa9cor (2803) -->
    <!-- 19. Online Furnishing\\neCommerce (2825)
    20. Interactive\\xc2\\xa0 How-To Guides (2827)
    21. OnDemand\\nMobile Handyman Services (2840) -->

* **Sub_vertical**
    <br>
    <!-- Change name of column and same problem of shifting -->
    <!-- 1.  News and ebooks Mobile App\\xc2\\xa0 (154)
    2.  Applied Artificial Intelligence and IoT focused\\xc2\\xa0Platform (183)
    3.  \\xc2\\xa0Customer Sourcing Platform\\xc2\\xa0 (186)
    4.  Post-Purchase Customer Engagement Platform\\xc2\\xa0 (188)
    5.  "Women\\'s Fashion Clothing Online Platform" remove "" (439)
    6.  parenting blog and kids\\xe2\\x80\\x99 events discovery platform (685)
    7.  Mobile SAAS\\xc2\\xa0 ECommerce platform for SMEs (753)
    8.  Gesture based\\xc2\\xa0 Smartwatch manufacturer (773)
    9.  Hyperlocal Discovery\\xc2\\xa0 & Rewards platform (853)
    10. Social Commerce\\xc2\\xa0 Fashion platform (904)
    11. Cloud based\\xc2\\xa0 health monitoring platform (1216)
    12. proximity based\\xc2\\xa0 Rewards platform (1245)
    13. Hyperlocal\\xc2\\xa0 Communication Mobile app (1319)
    14. Women\xe2\x80\x99s Fashion Apparel eTailer (1347)
    15. Doctor & Clinic\\xc2\\xa0 Discovery Platform (1414)
    16. Online Women\\xe2\\x80\\x99s Fashion Marketplace (1416)
    17. Men\\xe2\\x80\\x99s Grooming Product etailer (1435)
    18. Organic,\\xc2\\xa0 Natural\\xc2\\xa0 Food substitute manufacturer (1463)
    19. Women\\xe2\\x80\\x99s Fashion etailer (1544) -->
    <!-- 20. \\nLoans Comparison platform\\n\\n\\n\\n     (adsbygoogle = window.adsbygoogle || []).push({});\\n\\n (1554) -->
    <!-- 21. Online Women\\xe2\\x80\\x99s Fashion Marketplace (1614)
    22. Children\\xe2\\x80\\x99s Entertainment Portal (1687)
    23. Invoice discounting\\xc2\\xa0 Marketplace (1770)
    24. Women\\xe2\\x80\\x99s Fashion ECommerce Portal (1782)
    25. Children\xe2\x80\x99s Entertainment Games & Products (1804)
    26. Women\\xe2\\x80\\x99s health Tracker (1847)
    27. Interior Design & Home D\\xc3\\xa9cor Solutions (1852)
    28. SAAS DIY\\xc2\\xa0 ECommerce Platform (2058)
    29. Home D\\xc3\\xa9cor Product etailer (2089) -->

* **City Location**
    Change the name of col.
    Use value_counts()
   
    <!-- 2. Gurugram and Gurgaon -->
    <!-- 3. City name is India/US/Singapore -->
    <!-- 4. Bengaluru, Bengalore,Bangalore -->
    5. Missing Values with N/A
    <!-- 6. New Delhi as Nw Delhi -->
    7. Missing Values
    <!-- 8. US and USA -->
    <!-- 9. San francisco as SFO -->
    10. Mumbai / Global (2594)
    <!-- 11. \\xc2\\xa0Noida
        \\xc2\\xa0Bangalore
        \\xc2\\xa0Gurgaon
        \\xc2\\xa0New Delhi
        \\xc2\\xa0New Delhi
        \\xc2\\xa0Gurgaon
        \\xc2\\xa0Mumbai
        \\xc2\\xa0Gurgaon
        \\xc2\\xa0New Delhi
        \\xc2\\xa0Gurgaon
    2603 2604 2605 2606 2607  2608 2609 2610 2611 2612  -->

* **Investor Name**
<br><br>
<!-- Change name of the col.<br> -->
First Split on ',' and then carefully look for 'and'<br> 
Look for tiger<br>
There is 'and','&' in cells with multiple investor names,Problems while spliting<br>
<!-- There is 'and others','& others' in cells with multiple investor names<br> -->
Search for undisclosed word and replace with Undisclosed<br>
Sometimes with 'and' in between we have two separate companies and sometime it is same company<br>

Also check for Consistency issues. 

    1.  Multiple investor names in same cell
    2.  Sequoia Capital India,Sequoia,Sequoia India
    <!-- 4.  FinTech in 24  -->
    <!-- 6.  Multiple Angel Investors replace with undisclosed (74) -->   

    <!-- 10. Unnamed angel investors (104) -->
    <!-- 11. India Quotient and LetsVenture\\xe2\\x80\\x99s Angel Fund (113) -->
    <!-- 12. Sequoia India, Hillhouse Capital, Alphabet\\xe2\\x80\\x99s growth investment arm Capital G and Axis Bank (117) -->
    <!-- 13. Individual Investors in (122,123,138,140) -->
    14. Info Edge, AET Fund, Akatsuki and Incubate Fund from Japan and Better Capital AngelList syndicate. (125)
    15. Norwest Venture Partners, CDC Group, the UK\\xe2\\x80\\x99s Development Finance Institution and P Surendra Pai (128)
    16. Stellaris Venture Partners and Kalaari Capital, Rajan Anandan from Google, Dilip Khandwelwal from SAP Labs India, and Amrish Rau from PayU India (141)
    17. Lakestar and Jungle Ventures, Softbank\\xe2\\x80\\x99s DeepCore (142)
    18. DST Global and Lightspeed Venture Partners\\xe2\\x80\\x99 global fund.
    <!-- 19. N/A with undisclosed -->
    20. Korea Investment Partners (KIP), Samsung and China-based CITIC Capital and others (156)
    21. KDDI\\xc2\\xa0 (158)
    22. Tencent, Kalaari Capital and Private equity firm Multiples Alternate Asset Management (remove Private equity firm )
    23. Stellaris Ventures & Others (160)
    24. CLP Holdings Group, Innogy, \\xc3\\x98rstead, and Tenaska (161)
    <!-- 25. Vertex Ventures Southeast Asia (SEA) and India and Sistema Asia Fund, Fosun RZ Capital, Ventureast, and Endiya Partners.\\n\\n
    (164) -->
    26. CDC Group plc\\xc2\\xa0 (183)
    27. Accel (formerly known as Accel Partners) (188)
    28. Avtar Monga, chief operating office at IDFC Bank, Aditya Malik & Others (197)
    <!-- 29. Undisclosed Existing Investors As Well As The Tamarind Family Trust (254) -->
    <!-- 30. Unknown High Net-Worth Individuals (258) -->
    31. ChrysCapital, Existing investors, Elevar Equity, LGT Impact, Omidyar Network and Kaizen Private Equity also participated in the round (285)
    32. Maheshwar Peri, founder and chairman of career information portal Careers360, and Jamshed Jeejeebhoy, director at Byramjee Jeejeebhoy Pvt. Ltd were among the angels (286)
    33. Venkat Subramanian, Sudhakar Pennam, and other tech investors from Silicon Valley (332)
    34. British and Indian Governments (362)
    35. Sunil Kant Munjal, Hero Electronix\\xe2\\x80\\x99s corporate financing arm, Electronic Development Fund
    36. "Kedaraa Capital, Ontario Teachers\\'"
    37. Infosys co-founder Kris Gopalakrishnan
    38. Titan Co Ltd, Tata Group\\xe2\\x80\\x99s watch and jewellery retailing firm
    <!-- 39. Undisclosed Investors (501) -->
    40. IL&FS, Trust Capital, Rosy Blue Securities, Radhakrishan Damani and Rakesh Jhunjhunwala (574)
    <!-- 41. Undisclosed HNI\\xe2\\x80\\x99s (661) -->
    <!-- 42. Accel Partners, IDG Ventures, Kalaari Capital,\\xc2\\xa0 UC-RNT fund (673) -->
    <!-- 43. Falcon Edge Capital,\\xc2\\xa0 Capital Advisers  -->
    <!-- 44. Vellayan Subbiah, Jonathan Boutelle, Rajan Anandan,\\xc2\\xa0 Rahul Chawla, Salil Donde, Amit Ranjan, Govind Rajan & Others -->
    <!-- 45. Lahiri Music\\xe2\\x80\\x99s family office -->
    <!-- 46. Labruyere Eberl\\xc3\\xa9 -->
    47. Accel Partners, Nandan Nilekani\\xe2\\x80\\x99s NRJN Trust, Mistletoe, Qualcomm Ventures, M&S Partners
    48. Chandigarh Angels Network, Social Alpha and other unnamed angel investors
    49. L\\xe2\\x80\\x99Occitane
    50. Mumbai Angels and Mumbai Angel investors are same
    51. B Capital Group, Ignition Partners, Greycroft, e.ventures,\\xc2\\xa0 Eight Roads Ventures
    52. Tencent,\\xc2\\xa0 ru-Net, RSI Fund, Thrive Capital
    53. Sharad Sharma, Rajan Anandan,\\xc2\\xa0 Amit Ranjan, Alok Mittal & others
    54. Venk Krishnan, MJ Aravind, Vikram Kotak, Jayant Davar,\\xc2\\xa0 Ramkumar Nishtal, Arjun Sharmaa
    55. Indian Angel Network, Let\\xe2\\x80\\x99s Venture
    56. RB Investments,\\xc2\\xa0 Kaleden Holdings
    57. Delta Partners, Sequoia India,\\xc2\\xa0 Mayfield, Blacksoil, Trifecta Capital
    58. Vijay Shekhar Sharma, Pravin Gandhi,\\xc2\\xa0 Smart Start Fund; Kunal Shah,\\xc2\\xa0 Sandeep Tandon, Vishal Gondal, & Others
    59. GrowX Ventures, Sunil Kalra, Arun Venkatachalam,\\xc2\\xa0 Badal Malick
    60. ByteDance, Arun Sarin, Matrix Partners, Sequoia Capital India, Omidyar Network,\\xc2\\xa0 Falcon Edge
    61. Venturra Capital, Sequoia India, Susquehanna International Group.\\xc2\\xa0 Wavemaker Partners, Beenext, Beenos, Digital Garage
    62. Dheeraj Jain, Palash Jain, Anupam Mittal, Ameera Shah,\\xc2\\xa0 Vivek Bhargava, Rahul Singh, Ambarish Gupta,
    63. Blume Ventures, Sachin Bansal, Vijay Shekhar Sharma, Binny Bansal,\\xc2\\xa0 Kunal Shah, Sandeep Tandon, Ashish Tulsian
    64. Globevestor Angel Fund, Devendra Rane, Ravi Jain,\\xc2\\xa0 Arpan Nagdeve
    65. YourNest Angel Fund\\xc2\\xa0 & Others
    66. Sequoia Capital, Rohit Bansal, Kunal Bahl, Sandeep Tandon, Kunal Shah, Zishaan Hayath,\\xc2\\xa0 Abhishek Jain
    67. Mumbai Angels,\\xc2\\xa0 Times Internet
    68. L\\xe2\\x80\\x99Occitane
    69. Kludein LLC\\nPhanindra Sama, Narayan Ramachandran, Pranav Pai
    70. Undisclosed Japanese investor, Bertelsmann India Investments, Nirvana Digital India Fund, Nirvana Digital Investment Holding Co Ltd, 500 Start-Ups (1848)
    71. Funding through 1Crowd platform
    72. Bhavish Aggarwal, Binny Bansal,\\xc2\\xa0 Rajan Anandan, Mekin Maheshwar, Sunil Kalra, Anupam Mittal, Krishna Mehra, Singapore Angel Network
    73. Wipro Ventures,\\xc2\\xa0 Lumis Partners
    74. T V Mohandas Pai,\\xc2\\xa0 Aarin Capital
    75. Multiple investors through Ten Minute Million competition (1908-1911)
    76. Aspada Advisors, IDG Ventures,\\xc2\\xa0 Inventus Capital
    77. Ontario Teachers\\xe2\\x80\\x99 Pension Plan & Others
    78. Blume Ventures,\\xc2\\xa0 Tracxn Labs
    79. Omidyar Network,\\xc2\\xa0 Vikram Lal, Abhijit Bhandari, Mahesh Murthy, Shashank Bhagat
    80. Lalitesh Katragadda,\\xc2\\xa0 Ganayantrika Systems
    81. Matt Mullenweg, Adam D\\xe2\\x80\\x99Angelo, Aditya Agarwal,\\xc2\\xa0 Ruchi Sanghvi & Others
    82. Hyderabad Angels, Lalit Mangal,\\xc2\\xa0 Vikas Malpani, Gaurav Bhalotia, LV Prasad
    83. Unilazer Fund,\\xc2\\xa0 Phanindra Sama, Peyush Bansal
    84. Sa\\xc3\\xafd Business School Seed Fund.
    85. Lashit Sanghvi, Nikhil Vora, Venkat Vardhan,Mohammed Bin Abdul Rehman Al Khalifa,\\xc2\\xa0 Ralph Berezan, Vissal Mathew,\\xc2\\xa0 Balamurali Krishna
    86. ru-Net, Sequoia Capital,\\xc2\\xa0 Lightbox Ventures
    87. Extreme Venture Partners\\xc2\\xa0 William Bissell
    88. Segnel Venture, Shinji Kimura, Sundar Chanrai, JAFCO Asia, SingTel\\xe2\\x80\\x99s Innov8, Jungle Ventures, K Ganesh
    89. Rajan Anandan, Mike Galgon, Ravi Gururaj, Ashim Mehra,\\xc2\\xa0 Mohit Saxena, Internet Group, TNN Capital and others
    90. TV Mohandas Pai\\xe2\\x80\\x99s family office
    91. S.D. Shibulal, Kris Gopalakrishnan, Srinath Batni, Professor Tarun Khanna,\\xc2\\xa0 Ganapathy Venugopal.
    92. IDG Ventures India,\\xc2\\xa0 Accel Partners India
    93. Manish Kheterpal, Alok Mittal,\\xc2\\xa0 Puneet Dalmia,
    94. Paytm (One97 communications) (2294,2295)
    95. High Networth Individuals (undisclosed)
    96. Unnamed Media house and HNIs
    97. High Networth Individuals from India & USA (2308)
    98. Sanjeev Kapoor,\\xc2\\xa0 Ravi Saxena & Others
    99. Sean O\\xe2\\x80\\x99Sullivan & Others
    100. Accel Partners, Anupam Mittal & other marquee investors
    111. Group of Angel investors 
    112. Group of HNI investors
    113. WestBridge Capital, Omidyar Network, Elevar Equity, Saama Capital,\\xc2\\xa0 Lok Capital
    114. SoftBank Group, Greenoaks Capital, Sequoia Capital,\\xc2\\xa0 Lightspeed India
    115. Amit Ranjan, Vijay Shekhar Sharma, Kunal Bahl, Girish Mathrubootham &\\xc2\\xa0 Group of other Angel investors
    116. Gujarat based angel investors, MMY co-Founder
    <!-- 117. \\xc2\\xa0Tiger Global
        \\xc2\\xa0IvyCap Ventures, Accel Partners, Dragoneer Investment Group
        \\xc2\\xa0 Sandeep Aggarwal, Teruhide Sato
        \\xc2\\xa0Rajeev Saraf, Arvind Jha, R. Satya Narayanan
        \\xc2\\xa0Indian Angel Network
        \\xc2\\xa0LetsVenture, Kumar Bansal, Kshitij Jain
        \\xc2\\xa0IndianIdeas.com
        \\xc2\\xa0Forum Synergies PE Fund
        \\xc2\\xa0Goldman Sachs
        \\xc2\\xa0Palaash Ventures
        (2603-2612) -->
    118. growX ventures,\\xc2\\xa0 Manish Singhal\
    119. IDG Ventures India, Omidyar Network, Sherpalo Ventures,\\xc2\\xa0 Mohandas Pai
    120. Paytm, SAIF Partners,\\xc2\\xa0 Tiger Global Management & others
    121. YouWeCan Ventures,\\xc2\\xa0 Aprameya Radhakrishna
    122. Sharad Sharma, Rajan Anandan, Sunil Kalra, Amit Ranjan, Rohan Malhotra,\\xc2\\xa0 Arjun Malhotra, Gautam Gandhi
    123. Tiger Global,\\xc2\\xa0 Nirvana Ventures Advisors
    124. Natarajan Iyer,Rajesh Sawhney,\\xc2\\xa0 & other Angel investors.
    125. Arihant Patni, Vishal Khare,\\xc2\\xa0 Viswanath Ramachandran
    126. SAIF Partners,\\xc2\\xa0 Accel Partners
    127. Fidelity Growth Partners India, SAIF Partners,\\xc2\\xa0 Helion Ventures
    128. Rajendra Gogri,\\xc2\\xa0 Chandrakant Gogri
    129. Silicon Valley Ventures, NEA Ventures, Valiant Capital, IDG Ventures India,\\xc2\\xa0 SAIF Partners, Vertex Ventures
    130. Ajai Chowdhry, Ashvin Chadha, Yogesh Bansal,\\nNitin Singhal & Others
    131. Ah! Ventures, Calcutta Angels,\\xc2\\xa0 91SpringBoard
    132. VentureEast,\\xc2\\xa0 Varaprasad Reddy
    133. CA Media LP,\\xc2\\xa0 Start Media.
    134. Zodius Capital, Ru-Net, Kalaari Capital,\\xc2\\xa0 Qualcomm Ventures
    135. Unitus Seed Fund\\nNarayan Ramachandran, Bijou Kurien
    136. DeNA Co., Japan & Teruhide Sato (in Addition to MKS Switzerland & Kris GopalKrishnan)
    137. Hyderabad Angels (at Startup Heroes event)

* Amount
Change the name of col.
<!-- 1. Remove ',' -->
<!-- 2. undisclosed or N/A -->
3. 14,342,000+
4. Some values are left shift
5. \\xc2\\xa020,000,000
    \\xc2\\xa016,200,000
    \\xc2\\xa0N/A
    \\xc2\\xa0N/A
    \\xc2\\xa0600,000
    \\xc2\\xa0685,000
    \\xc2\\xa019,350,000
    \\xc2\\xa05,000,000
    \\xc2\\xa010,000,000
    \\xc2\\xa0N/A
    (2604-2613)
6. \\xc2\\xa0N/A 2614
7.

In [2]:
df = pd.read_csv('startup_funding.csv')
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09-01-2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13-01-2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09-01-2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02-01-2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02-01-2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [3]:
df.columns

Index(['Sr No', 'Date dd/mm/yyyy', 'Startup Name', 'Industry Vertical',
       'SubVertical', 'City  Location', 'Investors Name', 'InvestmentnType',
       'Amount in USD', 'Remarks'],
      dtype='object')

In [4]:
rename = {
    'Sr No':'Sr_no',
    'Date dd/mm/yyyy':'Date',
    'Startup Name': 'Startup',
    'Industry Vertical':'Industry_Vertical',
    'SubVertical':'SubVertical',
    'City  Location':'Location',
    'Investors Name':'Investor',
    'InvestmentnType': 'Investment_Type',
    'Amount in USD':'Amount(USD)',
    'Remarks':'Remarks'
}

In [5]:
df.rename(columns=rename,inplace=True)

In [6]:
df.head()

,Sr_no,Date,Startup,Industry_Vertical,SubVertical,Location,Investor,Investment_Type,Amount(USD),Remarks
0,1,09-01-2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13-01-2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09-01-2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02-01-2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02-01-2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [7]:
df.set_index('Sr_no',inplace=True)

In [8]:
df.head()

,Date,Startup,Industry_Vertical,SubVertical,Location,Investor,Investment_Type,Amount(USD),Remarks
Sr_no,,,,,,,,,
1,09-01-2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
2,13-01-2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
3,09-01-2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
4,02-01-2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
5,02-01-2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

## Clear Date

In [9]:
temp_df = df.loc[[2776,2777,2832,3012]]['Date'].str.replace('.','/')
df.loc[temp_df.index,'Date'] = temp_df.values

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\1818376617.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  temp_df = df.loc[[2776,2777,2832,3012]]['Date'].str.replace('.','/')

In [10]:
df.loc[193]['Date'] = '05/07/2018'
df.loc[2572]['Date'] = '01/07/2015'
df.loc[3030]['Date'] = '22/01/2015'
df.loc[2607]['Date'] = '10/7/2015'

## Startup

### Pattern Correction (regex)

In [11]:
df['Startup'] = df['Startup'].str.replace(r'\\+x\w{2}','',regex=True)
df['Startup'] = df['Startup'].str.replace(r'\\n*','',regex=True)

In [12]:
df.replace({'Startup':{'Ola':'Olacabs','Ola Cabs':'Olacabs'}},inplace=True)
df.replace({'Startup':{'OyoRooms':'OYO Rooms','Oyo Rooms':'OYO Rooms','Oyo':'OYO Rooms','Oyorooms':'OYO Rooms'}},inplace=True)
df.replace({'Startup':{'"BYJU\'S"':'BYJU’S','Byjus':'BYJU’S','BYJUs':'BYJU’S'}},inplace=True)
df.replace({'Startup':{'InCred':'InCred Finance','Credit Mate':'CreditMate','Credit Vidya':'CreditVidya'}},inplace=True)
df.replace({'Startup':{'CarDekho.com':'CarDekho'}},inplace=True)
df.replace({'Startup':{'CarTrade.com':'CarTrade'}},inplace=True)
df.replace({'Startup':{'Peppertap':'PepperTap'}},inplace=True)
df.replace({'Startup':{'Lenskart.com':'Lenskart'}},inplace=True)
df.replace({'Startup':{'Lending Kart':'Lendingkart'}},inplace=True)
df.replace({'Startup':{'Flipkart.com':'Flipkart'}},inplace=True)
df.replace({'Startup':{'https://www.wealthbucket.in/':'wealthbucket.in'}},inplace=True)
df.replace({'Startup':{'Gympik.com':'Gympik'}},inplace=True)
df.replace({'Startup':{'Autorox.co':'Autorox'}},inplace=True)
df.replace({'Startup':{'Vogo Automotive Pvt. Ltd.':'Vogo Automotive'}},inplace=True)
df.replace({'Startup':{'PeeSafe.in':'PeeSafe'}},inplace=True)
df.replace({'Startup':{'The Mons Co.':'The Moms Co'}},inplace=True)
df.replace({'Startup':{'TransTutors / AskIITians':'AskIITians'}},inplace=True)
df.replace({'Startup':{'Vahdam Tea':'Vahdam Teas','Tea Box':'Teabox','Teabox.com':'Teabox'}},inplace=True)
df.replace({'Startup':{'Zebi (yet to launch)':'Zebi'}},inplace=True)
df.replace({'Startup':{'Cookaroo':'Cashkaro.com'}},inplace=True)
df.replace({'Startup':{'Early Salary':'EarlySalary','EarlySalary.com':'EarlySalary'}},inplace=True)
df.replace({'Startup':{'Toppr.com':'Toppr'}},inplace=True)
df.replace({'Startup':{'NearBuy (previously groupon India)':'NearBuy'}},inplace=True)
df.replace({'Startup':{'Healthians.com':'Healthians'}},inplace=True)
df.replace({'Startup':{'Crowdfire (formerly Justunfollow)':'Crowdfire'}},inplace=True)
df.replace({'Startup':{'Roposo.com':'Roposo'}},inplace=True)
df.replace({'Startup':{'FirstCry.com':'FirstCry'}},inplace=True)
df.replace({'Startup':{'#Fame':'Fame'}},inplace=True)
df.replace({'Startup':{'1mg (Healthkartplus)':'1mg'}},inplace=True)
df.replace({'Startup':{'Mamaearth':'MamaEarth','mamaearth':'MamaEarth'}},inplace=True)
df.replace({'Startup':{'Big Basket':'BigBasket','mamaearth':'MamaEarth'}},inplace=True)
df.replace({'Startup':{'BigStylist.com':'BigStylist'}},inplace=True)

In [13]:
# df[df['Investor'].str.contains('Sequoia',case=False)]

In [14]:
df['Startup'] = df['Startup'].str.lower()
df['Startup'] = df['Startup'].str.capitalize()
startup_names = sorted(df['Startup'].unique().tolist())

## Industry_vertical

In [15]:
df.head()

,Date,Startup,Industry_Vertical,SubVertical,Location,Investor,Investment_Type,Amount(USD),Remarks
Sr_no,,,,,,,,,
1,09-01-2020,Byju’s,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
2,13-01-2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
3,09-01-2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
4,02-01-2020,Wealthbucket.in,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
5,02-01-2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [16]:
df['Industry_Vertical'] = df['Industry_Vertical'].str.replace(r'\\+x\w{2}','',regex=True)
df['Industry_Vertical'] = df['Industry_Vertical'].str.replace(r'\\n*',' ',regex=True)

In [17]:
df.drop(index=714,inplace=True)
df.drop(index=604,inplace=True)
df.drop(index=1425,inplace=True)

In [18]:
temp_df = df.loc[2109:2873]
temp_df = temp_df[['Industry_Vertical','SubVertical']].shift(periods= 1,axis=1)
df.loc[temp_df.index,['Industry_Vertical','SubVertical']] = temp_df.values
df.loc[2109:2873].head()

,Date,Startup,Industry_Vertical,SubVertical,Location,Investor,Investment_Type,Amount(USD),Remarks
Sr_no,,,,,,,,,
2109,01-12-2015,Collegedekho,None,Online Education Information platform,Jaipur,GirnarSoft,Seed Funding,"10,00,000",NaN
2110,01-12-2015,Black white orange brands,None,Brand Licensing Startup,Mumbai,YouWeCan Ventures,Seed Funding,NaN,NaN
2111,01-12-2015,Biteclub,None,Gourmet Food Discovery & Delivery platform,Gurgaon,growX ventures,Private Equity,NaN,Pre-Series A
2112,01-12-2015,Patel logistics,None,Transportation & Logistics Platform,Mumbai,Frontline Strategy,Private Equity,"56,00,000",NaN
2113,01-12-2015,Wigzo,None,Enterprise Marketing Automation platform,New Delhi,"Aarin Capital Partners, TV Mohandas Pai",Seed Funding,"5,00,000",Pre-Series A

In [19]:
df[df['Startup'].str.contains('33coupons',case=False)]['Industry_Vertical']

Sr_no
2596    None
Name: Industry_Vertical, dtype: object

## Subvertical

In [20]:
df.head()

,Date,Startup,Industry_Vertical,SubVertical,Location,Investor,Investment_Type,Amount(USD),Remarks
Sr_no,,,,,,,,,
1,09-01-2020,Byju’s,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
2,13-01-2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
3,09-01-2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
4,02-01-2020,Wealthbucket.in,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
5,02-01-2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [21]:
df['SubVertical'] = df['SubVertical'].str.replace(r'\\+x\w{2}','',regex=True)
df['SubVertical'] = df['SubVertical'].str.replace(r'\\n*','',regex=True)
df.loc[1554]['SubVertical'] = 'Loans Comparison platform'

## Location

In [22]:
df['Location'] = df['Location'].str.replace(r'\\*xc2\\*xa0','',regex=True)

In [23]:
df[df['Location'].str.contains('N/A',case=False,na=False)]

Empty DataFrame
Columns: [Date, Startup, Industry_Vertical, SubVertical, Location, Investor, Investment_Type, Amount(USD), Remarks]
Index: []

In [24]:
df.replace({'Location':{'Bangalore':'Bengaluru'}},inplace=True)
df.replace({'Location':{'Gurgaon':'Gurugram'}},inplace=True)
df.replace({'Location':{'US':'USA'}},inplace=True)
df.replace({'Location':{'New Delhi':'Delhi','Nw Delhi':'Delhi'}},inplace=True)

## Investor names

In [25]:
df.head()

,Date,Startup,Industry_Vertical,SubVertical,Location,Investor,Investment_Type,Amount(USD),Remarks
Sr_no,,,,,,,,,
1,09-01-2020,Byju’s,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
2,13-01-2020,Shuttl,Transportation,App based shuttle service,Gurugram,Susquehanna Growth Equity,Series C,"80,48,394",NaN
3,09-01-2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
4,02-01-2020,Wealthbucket.in,FinTech,Online Investment,Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
5,02-01-2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

##### filling 'na' values with 'Undisclosed'

In [26]:
df['Investor'].fillna('Undisclosed',inplace=True)

##### Regex patterns

In [27]:
df['Investor'] = df['Investor'].str.replace(r'\\+x\w{2}','',regex=True)
df['Investor'] = df['Investor'].str.replace(r'\\n*','',regex=True)

##### Removing 'other' at the end to text

In [28]:
tt_df = df[df['Investor'].str.contains('and others',na=False)]['Investor'].str.replace('and others','')
df.loc[tt_df.index,'Investor'] = tt_df.values
ttt_df = df[df['Investor'].str.contains('& others|& Others',na=False)]['Investor'].str.replace('& others|& Others','')
df.loc[ttt_df.index,'Investor'] = ttt_df.values

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2663577545.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  ttt_df = df[df['Investor'].str.contains('& others|& Others',na=False)]['Investor'].str.replace('& others|& Others','')

##### Dopping unncessary rows

In [29]:
df.drop(index=92,inplace=True)
df.drop(index=362,inplace=True)
df.drop(index=2528,inplace=True)

##### Replacement

In [30]:
df['Investor'].loc[20]='Prime Venture Partners, LetsVenture, PS1 Venture, Rajul Garg'
df['Investor'].loc[74] = 'Undisclosed'
df['Investor'].loc[103] = 'Undisclosed'
df['Investor'] = df['Investor'].str.replace('Individual Investors','Undisclosed')
df['Investor'].loc[164] = 'Vertex Ventures Southeast Asia (SEA) and India, Sistema Asia Fund, Fosun RZ Capital, Ventureast, and Endiya Partners.'
df['Investor'].loc[661] = 'Undisclosed'

In [31]:
df['Investor'] = df['Investor'].str.replace('Accel Partner','Accel')
df['Investor'] = df['Investor'].str.replace('Accel Partners','Accel')
df['Investor'] = df['Investor'].str.replace('Accel Partners India','Accel')

In [32]:
df['Investor'].str.strip()

Sr_no
1                 Tiger Global Management
2               Susquehanna Growth Equity
3                   Sequoia Capital India
4                          Vinod Khatumal
5                 Sprout Venture Partners
                      ...
3040          Asia Pacific Internet Group
3041                       KARSEMVEN Fund
3042       Exfinity Fund, GrowX Ventures.
3043                           MakeMyTrip
3044    UK based Group of Angel Investors
Name: Investor, Length: 3038, dtype: object

In [33]:
df.to_csv('Cleaned_startup.csv',index=False)

### Fetching unique Investor name

#### Split into I1

In [34]:
I1 = df[df['Investor'].str.split(',').str.len() == 1]
I1['Investor'] = I1['Investor'].str.strip().str.split('&').str.get(0)

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\3664578878.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1['Investor'] = I1['Investor'].str.strip().str.split('&').str.get(0)

In [35]:
I1.replace({'Investor':{'Undisclosed Investors':'Undisclosed','Undisclosed investors':'Undisclosed','Undisclosed Investor':'Undisclosed','undisclosed investors':'Undisclosed','Undisclosed investor':'Undisclosed','Undisclosed HNIs':'Undisclosed','Multiple investors through Ten Minute Million competition':'Undisclosed','undisclosed investor':'Undisclosed'}},inplace=True)
I1.replace({'Investor':{'Undisclosed angel investors':'Undisclosed'}},inplace=True)
I1.replace({'Investor':{'Group of undisclosed Angel Investors & HNIs':'Undisclosed'}},inplace=True)
I1.replace({'Investor':{'Group of Angel Investors':'Undisclosed'}},inplace=True)
I1.replace({'Investor':{'Undisclosed Angel investors & HNIs':'Undisclosed'}},inplace=True)
I1.replace({'Investor':{'Indian Angels Network':'Indian Angel Network','Indian Angel network':'Indian Angel Network'}},inplace=True)
I1['Investor'] = I1['Investor'].str.replace('Sequoia Capital India','Sequoia Capital',case=False)
I1['Investor'] = I1['Investor'].str.replace('Sequoia India','Sequoia Capital',case=False)
I1['Investor'] = I1['Investor'].str.replace('Sequoia','Sequoia Capital',case=False)
I1.replace({'Investor':{'Tiger Global Management':'Tiger Global'}},inplace=True)
I1.replace({'Investor':{'IDG Ventures India':'IDG Ventures'}},inplace=True)
I1.replace({'Investor':{'Mumbai Angels Network':'Mumbai Angels',}},inplace=True)
I1.replace({'Investor':{'Investors from Mumbai Angels':'Mumbai Angels',}},inplace=True)
I1.replace({'Investor':{'Kalaari Capital Accelerator Program':'Kalaari Capital',}},inplace=True)

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.replace({'Investor':{'Undisclosed Investors':'Undisclosed','Undisclosed investors':'Undisclosed','Undisclosed Investor':'Undisclosed','undisclosed investors':'Undisclosed','Undisclosed investor':'Undisclosed','Undisclosed HNIs':'Undisclosed','Multiple investors through Ten Minute Million competition':'Undisclosed','undisclosed investor':'Undisclosed'}},inplace=True)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.replace({'Investor':{'Undisclosed angel investors':'Undisclosed'}},inplace=True)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.replace({'Investor':{'Group of undisclosed Angel Investors & HNIs':'Undisclosed'}},inplace=True)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.replace({'Investor':{'Group of Angel Investors':'Undisclosed'}},inplace=True)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.replace({'Investor':{'Undisclosed Angel investors & HNIs':'Undisclosed'}},inplace=True)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.replace({'Investor':{'Indian Angels Network':'Indian Angel Network','Indian Angel network':'Indian Angel Network'}},inplace=True)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1['Investor'] = I1['Investor'].str.replace('Sequoia Capital India','Sequoia Capital',case=False)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1['Investor'] = I1['Investor'].str.replace('Sequoia India','Sequoia Capital',case=False)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1['Investor'] = I1['Investor'].str.replace('Sequoia','Sequoia Capital',case=False)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.replace({'Investor':{'Tiger Global Management':'Tiger Global'}},inplace=True)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.replace({'Investor':{'IDG Ventures India':'IDG Ventures'}},inplace=True)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.replace({'Investor':{'Mumbai Angels Network':'Mumbai Angels',}},inplace=True)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.replace({'Investor':{'Investors from Mumbai Angels':'Mumbai Angels',}},inplace=True)
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\429490137.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.replace({'Investor':{'Kalaari Capital Accelerator Program':'Kalaari Capital',}},inplace=True)

In [36]:
I1.loc[[2450,2704],'Investor'] = 'M&S Patners'
I1.loc[[1590,1980],'Investor'] = 'Undisclosed'
I1.loc[[2294,2295],'Investor'] = 'Paytm'
I1.loc[[1843,2361],'Investor'] = 'Undisclosed'
I1.loc[[2228],'Investor'] = 'Mohandas Pai'	
I1.loc[[506,813,1431,1438,1866,3001],'Investor'] = '1Crowd'

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2080281237.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.loc[[2450,2704],'Investor'] = 'M&S Patners'
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2080281237.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.loc[[1590,1980],'Investor'] = 'Undisclosed'
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2080281237.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.loc[[2294,2295],'Investor'] = 'Paytm'
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2080281237.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.loc[[1843,2361],'Investor'] = 'Undisclosed'
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2080281237.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.loc[[2228],'Investor'] = 'Mohandas Pai'
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2080281237.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.loc[[506,813,1431,1438,1866,3001],'Investor'] = '1Crowd'

In [37]:
undis = I1[I1['Investor'].str.contains('angel investors',case=False,na=False)]
undis['Investor'] = 'Undisclosed'
I1.loc[undis.index,'Investor'] = undis['Investor'].values

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\4171883860.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  undis['Investor'] = 'Undisclosed'
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\4171883860.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.loc[undis.index,'Investor'] = undis['Investor'].values

In [38]:
I1.loc[[138,140,254,510,1232,1424,1490,1705,2070,2094,2385,2433,2559,2750,2596,1485,2301,2308,2429],'Investor'] = 'Undisclosed'

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2279368493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.loc[[138,140,254,510,1232,1424,1490,1705,2070,2094,2385,2433,2559,2750,2596,1485,2301,2308,2429],'Investor'] = 'Undisclosed'

#### Split into I11

In [39]:
I11 = df[df['Investor'].str.split(',').str.len() == 1]
I11['Investor'] = I11['Investor'].str.strip().str.split('&').str.get(1)

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2156752711.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I11['Investor'] = I11['Investor'].str.strip().str.split('&').str.get(1)

In [40]:
other_index =  I11[I11['Investor'].str.contains('Other',case=False,na=False)].index
I11.loc[other_index,'Investor'] = ' '

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2549454946.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I11.loc[other_index,'Investor'] = ' '

In [41]:
v1 = I11[I11['Investor'].str.contains('hni',case=False,na=False)]
I11.loc[v1.index,'Investor'] = ' '

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\50737006.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I11.loc[v1.index,'Investor'] = ' '

In [42]:
I1.loc[1705,'Investor'] = ''
I11.loc[[688,1822,2866],'Investor'] = ''
I11.loc[[2863],'Investor'] = ''
I11.loc[[2719],'Investor'] = ''
I11.loc[[2450,2704],'Investor'] = ''
I11.loc[2308,'Investor'] = ''
I11.loc[[1218,1785],'Investor'] = ''

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\4099783277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I1.loc[1705,'Investor'] = ''
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\4099783277.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I11.loc[[688,1822,2866],'Investor'] = ''
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\4099783277.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I11.loc[[2863],'Investor'] = ''
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\4099783277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I11.loc[[2719],'Investor'] = ''
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\4099783277.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I11.loc[[2450,2704],'Investor'] = ''
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\4099783277.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I11.loc[2308,'Investor'] = ''
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\4099783277.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I11.loc[[1218,1785],'Investor'] = ''

In [43]:
I11.fillna('',inplace=True)

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\772698832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I11.fillna('',inplace=True)

#### Check

##### Combining I1 and I11

In [44]:
series1 = I1['Investor']
series2 = I11['Investor']
# series2 = pd.Series([5, 6, 7, 8])

# Join the Series side by side with a comma separator
result = pd.DataFrame({'Series1': series1, 'Series2': series2}).astype(str).apply(', '.join, axis=1)
# result

In [45]:
result = result.str.replace('Sequoia Capital Capital','Sequoia Capital')
result = result.str.replace(r'\([^()]*\)','',regex=True)
result = result.str.replace('Info Edge  Ltd','Info Edge Ltd')
result = result.str.replace('Info Edge Ltd','Info Edge')
result = result.str.replace('Base of Pyramid Asia  Pte Ltd','Base of Pyramid Asia')
result = result.str.replace('Sequoia Capital','Sequoia')
result = result.str.replace(r'\[[a-zA-z]\]','',regex=True)
result = result.str.replace('ABI-Showatech  Ltd','ABI-Showatech')
result = result.str.replace('M&S Patners','M&S Partners')
result.loc[result[result.str.contains('97',case=False)].index] = 'One97 Communications'
result.loc[result[result.str.contains('paytm',case=False)].index] = 'Paytm'
result.drop(194,inplace=True)

##### Checking how many not present

In [46]:
def contains_trail(text):
    # print(text)
    if ',' in text:
        text = text.split(',')[0]
        # text = text.split(' ')[0]
        
        
    # else:
    #     text = text.split(' ')[0]   
        
    # print(text)
    if (df['Investor'].str.contains(text,case=False,na=False).any()):
        return f'present:{text}'
    else:
        return f'not_present:{text}'

In [47]:
final = result.apply(contains_trail)
print(final[final.str.contains("not_present")])

Sr_no
649    not_present:Factor Ventures
dtype: object

In [48]:
df[df['Investor'].str.contains("BAC",case=False,na=False)]

,Date,Startup,Industry_Vertical,SubVertical,Location,Investor,Investment_Type,Amount(USD),Remarks
Sr_no,,,,,,,,,
110,19-04-2019,Krazybee,E-commerce,Lending Platform,Bengaluru,"BAC Acquisitions, Unifi AIF, BRD Securities, N...",Debt,"14,342,000+",NaN

In [49]:
def check(text):
    if ',' in text:
        text = text.split(',')[0]

    out_df = df[df['Investor'].str.contains(text,case=False,na=False)]
    return out_df

##### Fetching unique elements

In [50]:
result_unique = result.unique()

##### Checking on unique elements

In [51]:
element = random.choice(result_unique)
print(element)
check(element)

Raj Singh Bhandal,

,Date,Startup,Industry_Vertical,SubVertical,Location,Investor,Investment_Type,Amount(USD),Remarks
Sr_no,,,,,,,,,
1367,13-09-2016,Findow,Consumer Internet,Fashion Discovery Mobile app,Bengaluru,Raj Singh Bhandal,Seed Funding,NaN,NaN

##### Recent 5 Investments

In [52]:
def unique_5(text):
    if ',' in text:
        text = text.split(',')[0]

    out_df = df[df['Investor'].str.contains(text,case=False,na=False)]
    return out_df

In [53]:
unique_5('one97')

,Date,Startup,Industry_Vertical,SubVertical,Location,Investor,Investment_Type,Amount(USD),Remarks
Sr_no,,,,,,,,,
57,21-08-2019,Hungerbox,Food and Beverage,B2B Foodtech,Bengaluru,One97 Communications Ltd.,Series C,"65,90,000",NaN
700,18-07-2017,Mobiquest,Technology,Mobile Services & Solutions,Noida,One97 Communication Ltd,Private Equity,NaN,NaN
2294,01-10-2015,Abhibus,None,us ticketing and fleet management platform,Hyderabad,Paytm (One97 communications),Private Equity,NaN,Strategic Investment
2295,01-10-2015,Cleartax,None,Online Income Tax Filing platform,Delhi,Paytm (One97 communications),Private Equity,NaN,NaN
2532,17-08-2015,Gadgets 360,None,Car & Bike ecommerce platform,Delhi,One97 Communications,Private Equity,NaN,Strategic Investment

## Amount

In [54]:
df.head()

,Date,Startup,Industry_Vertical,SubVertical,Location,Investor,Investment_Type,Amount(USD),Remarks
Sr_no,,,,,,,,,
1,09-01-2020,Byju’s,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
2,13-01-2020,Shuttl,Transportation,App based shuttle service,Gurugram,Susquehanna Growth Equity,Series C,"80,48,394",NaN
3,09-01-2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
4,02-01-2020,Wealthbucket.in,FinTech,Online Investment,Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
5,02-01-2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [55]:
df['Amount(USD)'] = df['Amount(USD)'].str.replace(',','')

In [56]:
pd.set_option('display.max_rows' ,1000)

In [57]:
df['Amount(USD)'] = df['Amount(USD)'].str.replace('undisclosed','0')
df['Amount(USD)'] = df['Amount(USD)'].str.replace('Undisclosed','0')

In [58]:
df[df['Amount(USD)'].str.contains('14342',case=False,na=False)]

,Date,Startup,Industry_Vertical,SubVertical,Location,Investor,Investment_Type,Amount(USD),Remarks
Sr_no,,,,,,,,,
110,19-04-2019,Krazybee,E-commerce,Lending Platform,Bengaluru,"BAC Acquisitions, Unifi AIF, BRD Securities, N...",Debt,14342000+,NaN

## Investor Revisit

In [59]:
diff_index = np.setdiff1d(df.index,result.index)

In [60]:
diff_df = df.loc[diff_index]['Investor']

In [61]:
def check_result(text):
    # if ',' in text:
    #     text = text.split(',')[0]
        # text = text.split(' ')[0]
        
        
    # else:
    #     text = text.split(' ')[0]   
        
    # print(text)
    if (result.str.contains(text,case=False,na=False).any()):
        return None
    else:
        return text

In [62]:
pnp=diff_df.apply(check_result)

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\1724838525.py:11: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  if (result.str.contains(text,case=False,na=False).any()):

In [63]:
diff_arr = diff_df.str.split(',').values

In [64]:
ls = []
for ele in diff_arr:
    for value in ele:
        if (value == '')|(value == ' '):          
            continue
        else:
            ls.append(value)

In [65]:
ls_sereis = pd.Series(ls).str.strip()

In [66]:
result_unique =  sorted(result_unique)

#### changes in ls_series

In [67]:
ls_sereis[ls_sereis.str.contains(r'others?',regex=True,case=False)].values
ls_sereis[ls_sereis.str.contains(r' and others?',regex=True,case=False)].values
ls_sereis = ls_sereis.str.replace(r'others?','')
ls_sereis = ls_sereis.str.replace(r'and Others?','')
ls_sereis = ls_sereis.str.replace(r'And Others?','')
ls_sereis = ls_sereis.str.replace(r'Tiger Global ?(Management)?','Tiger Global ')
# ls_sereis = ls_sereis.str.replace('','Tiger Global ')
ls_sereis = ls_sereis.str.replace('Sequoia Capital India','Sequoia',case=False)
ls_sereis = ls_sereis.str.replace('Sequoia India','Sequoia',case=False)
ls_sereis = ls_sereis.str.replace('Sequoia','Sequoia',case=False)
ls_sereis = ls_sereis.str.replace('Sequoia Capital','Sequoia',case=False)
ls_sereis.loc[[753,1129,1523,1623]] = 'Undisclosed'
lsls_sereis =ls_sereis.str.replace('Angel Investors','',case=False)
ls_sereis.str.replace('Chiratae Ventures (formerly IDG Ventures)','IDG Ventures')
ls_sereis[ls_sereis[ls_sereis.str.contains('softbank',case=False)].index] = 'Softbank'
ls_sereis[ls_sereis[ls_sereis.str.contains('IDG')].index] = 'IDG Ventures'
ls_sereis[ls_sereis[ls_sereis.str.contains('mumbai',case=False)].index] = 'Mumbai Angels'
ls_sereis[ls_sereis[ls_sereis.str.contains('kalaari',case=False)].index] = 'Kalaari Capital'
ls_sereis[ls_sereis[ls_sereis.str.contains('saif',case=False)].index] = 'SAIF Partners'
ls_sereis = ls_sereis.str.replace('Mumbai Angels Network','Mumbai Angels')

C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2217926087.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  ls_sereis = ls_sereis.str.replace(r'others?','')
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2217926087.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  ls_sereis = ls_sereis.str.replace(r'and Others?','')
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2217926087.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  ls_sereis = ls_sereis.str.replace(r'And Others?','')
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2217926087.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  ls_sereis = ls_sereis.str.replace(r'Tiger Global ?(Management)?','Tiger Global ')
C:\Users\Mayur\AppData\Local\Temp\ipykernel_2988\2217926087.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  ls_sereis.str.replace('Chiratae Ventures (formerly IDG Ventures)','IDG Ventures')

In [68]:
ls_sereis.drop(1995,inplace=True)

In [69]:
result_unique =  np.array(result_unique)
ls_sereis = ls_sereis.unique()

In [70]:
investor_names = np.concatenate((result_unique,ls_sereis))
investor_names = sorted(investor_names)

In [71]:
investor_names_df =  pd.DataFrame(investor_names,columns=['unique_Investor'])

In [72]:
investor_names_df.loc[investor_names_df.loc[45:48].index,'unique_Investor'] = 'Aarin Capital'

In [73]:
investor_names_df.drop(52,inplace=True)
investor_names_df.drop(69,inplace=True)
investor_names_df.drop(125,inplace=True)
investor_names_df.drop(97,inplace=True)
investor_names_df.drop(111,inplace=True)
investor_names_df.drop(118,inplace=True)
investor_names_df.drop(122,inplace=True)
investor_names_df.drop(102,inplace=True)
investor_names_df.drop(197,inplace=True)
investor_names_df.drop(237,inplace=True)
investor_names_df.drop(382,inplace=True)
investor_names_df.drop(383,inplace=True)
investor_names_df.drop(investor_names_df.loc[76:90].index,inplace=True)
investor_names_df.drop(investor_names_df.loc[184:187].index,inplace=True)
investor_names_df.drop(investor_names_df.loc[302:304].index,inplace=True)
investor_names_df.drop(investor_names_df.loc[154:156].index,inplace=True)
investor_names_df.drop(investor_names_df.loc[3290:3305].index,inplace=True)
investor_names_df.drop(investor_names_df.loc[92:93].index,inplace=True)

investor_names_df.drop(453,inplace=True)
investor_names_df.drop(481,inplace=True)
investor_names_df.drop(495,inplace=True)
investor_names_df.drop(496,inplace=True)
investor_names_df.drop([500,501],inplace=True)
investor_names_df.drop([505,506],inplace=True)
investor_names_df.drop([538,539,540,542],inplace=True)
investor_names_df.drop(investor_names_df.loc[550:559].index,inplace=True)
investor_names_df.drop(566,inplace=True)

In [74]:
def check_mod(text):
    if ',' in text:
        text = text.split(',')[0]

    out_df = df[df['Investor'].str.match(text,case=False,na=False)] 
    if out_df.shape[0]>0:   
        return out_df
    else:
        out_df = df[df['Investor'].str.contains(text,case=False,na=False)] 
        return out_df

In [75]:
investor_names_df.drop_duplicates(inplace = True)
investor_names_df['unique_Investor'] = investor_names_df['unique_Investor'].str.replace(',','').str.strip()
investor_names_df.drop_duplicates(inplace = True)

In [76]:
investor_names_df[investor_names_df['unique_Investor'].str.startswith('a')]

                              unique_Investor
3283                  a Dutch government fund
3284                             ah! Ventures
3286                     ain Capital Ventures
3287                           ajesh K Murthy
3288                       alcon Edge Capital
3289  and  tech investors from Silicon Valley

In [77]:
investor_names_df.to_csv('Unique_investor_names.csv',index=False)

In [78]:
investor_names_df[investor_names_df['unique_Investor'].str.startswith('C')]

                                       unique_Investor
583                                       C31 Ventures
584                                       C4D Partners
585                                        CA Media LP
586                      CASHurDRIVE Marketing Pvt Ltd
587                                        CBA Capital
588                                           CCavenue
589                                       CCube Angels
590                                          CDC Group
591                                      CDC Group Plc
592                                      CDC Group plc
593                                  CIO Angel Network
596                                 CLP Holdings Group
597                CLSA Capital Partners ARIA IV Funds
598                       CMYK Health Boutique Pvt Ltd
599                                          CP Bothra
600                                                CRV
601                       CSC Upshot & Angel investors
602                             Calcutta Angel Network
603                                    Calcutta Angels
604                            Calcutta Angels Network
605                      Calcutta Angels Network (CAN)
607                                      Cameron Jones
608                                    Canaan Partners
610                                          Cao Yibin
611                                 Capier Investments
612                             Capillary Technologies
613                                   Capital Advisers
614                                           CapitalG
615                         Capricorn Investment Group
616                       Capricorn Investment and IFC
617                      CareerNet Consulting Pvt. Ltd
618                                      Carlyle Group
619                         Carnegie Mellon University
620                                  Carpediem Capital
621                           Carrick Capital Partners
622                     Caspian and Hivos-Triodos Fund
623                                 Catamaran Ventures
624                                 Cataraman Ventures
625  Centre For Incubation & Business Acceleration ...
626  Centre for Innovation Incubation and Entrepren...
627                                           CerraCap
628                         Chan Zuckerberg Initiative
629                                   Chanakya Hridaya
630                           Chandigarh Angel Network
631                                  Chandigarh Angels
632                          Chandigarh Angels Funding
633                          Chandigarh Angels Network
636                                  Chandrakant Gogri
637                Chandralekha Construction Pvt. Ltd.
638                         Chandrashekar Tallapragada
639                             Chandru Badrinarayanan
640                              Chatsworth Management
641                                         Chavi Jafa
642                                     Cheetah Mobile
643                                     Chennai Angels
645                                         Cherry Tin
646                                      Chetan Bhagat
647                           Chicago Capital Ventures
648                            Chidambaram Palaniappan
649                                China Lodging Group
650                                         Chip Perry
651                                Chirag Nikunj Sheth
652                                  Chiratae Ventures
654                                       ChrysCapital
656                     Cipher-Plexus Capital Advisors
657                                  Cisco Investments
658                                     Cisco Ventures
659                    Cismat Cargo Services Pvt. Ltd.
660                                      Citi Ventures
661                                    Citrus Payments
662                                    Clairvest Group
663                                     Claris Capital
664                                          CoCapital
665                                  CoCreate Ventures
666                                  Coatue Management
667                                  Cogent E Services
668                         Coleman and Co. Ltd (BCCL)
669                            Coleman and Company Ltd
670                     Coleman and Company Ltd (BCCL)
671               Collaborative Licensing Ventures LLP
672                                        Commonfloor
673                       Composite Capital Management
674                                Concur Technologies
675  Constellation Technology Ventures (Exelon Corp...
676                                 Contrarian Capital
677                  Contrarian Capital India Partners
678                            Contrarian Vriddhi Fund
679                             Cooperative Oikocredit
680                                    Corvus Ventures
681                                           Costanoa
682                                       Cota Capital
683                               Creation Investments
684            Creation Investments Capital Management
685                             Credence Family Office
686                      Cross Border Angels & Experts
687                      Cross Border Angels   Experts
688                                Cross Border Angels
689                        Ctrip.com International Ltd
690                                            CureFit
691                             Currae Healthtech Fund
692                                   Cyber Carrier CL
693                                   Cyber Carrier VC
694                                      Cyber Carrier
695                                CyberAgent Ventures